@model WebApplication1.Models.Course
@{
    ViewData["Title"] = "Course Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Course Details</h1>
<hr />

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Name)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Name)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Degree)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Degree)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.MinimumDegree)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.MinimumDegree)</dd>

    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Hours)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Hours)</dd>

    <dt class="col-sm-3">Department</dt>
    <dd class="col-sm-9">@Model.Department?.Name</dd>

    <dt class="col-sm-3">Instructors</dt>
    <dd class="col-sm-9">
        @(Model.Instructors != null ? string.Join(", ", Model.Instructors.Select(i => i.Name)) : "None")
    </dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>