@model WebApplication1.Models.Instructor
@{
    ViewData["Title"] = "Instructor Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Instructor Details</h1>
<hr />

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Salary</dt>
    <dd class="col-sm-9">@Model.Salary</dd>

    <dt class="col-sm-3">Address</dt>
    <dd class="col-sm-9">@Model.Address</dd>

    <dt class="col-sm-3">Image</dt>
    <dd class="col-sm-9">@Model.Image</dd>

    <dt class="col-sm-3">Department</dt>
    <dd class="col-sm-9">@Model.Department?.Name</dd>

    <dt class="col-sm-3">Course</dt>
    <dd class="col-sm-9">@Model.Course?.Name</dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>