@model WebApplication1.Models.Department

@{
    ViewData["Title"] = "Department Details";
}

<h1>Department Details</h1>
<hr />

<dl class="row">
    <dt class="col-sm-2">Name</dt>
    <dd class="col-sm-10">@Model.Name</dd>

    <dt class="col-sm-2">Manager</dt>
    <dd class="col-sm-10">@Model.ManagerName</dd>

    <dt class="col-sm-2">Courses</dt>
    <dd class="col-sm-10">
        @if (Model.Courses?.Any() ?? false)
        {
            <ul>
                @foreach (var c in Model.Courses)
                {
                    <li>@c.Name</li>
                }
            </ul>
        }
        else
        {
            <span>No courses assigned</span>
        }
    </dd>

    <dt class="col-sm-2">Students</dt>
    <dd class="col-sm-10">
        @if (Model.Students?.Any() ?? false)
        {
            <ul>
                @foreach (var s in Model.Students)
                {
                    <li>@s.Name</li>
                }
            </ul>
        }
        else
        {
            <span>No students assigned</span>
        }
    </dd>

    <dt class="col-sm-2">Instructors</dt>
    <dd class="col-sm-10">
        @if (Model.Instructors?.Any() ?? false)
        {
            <ul>
                @foreach (var i in Model.Instructors)
                {
                    <li>@i.Name</li>
                }
            </ul>
        }
        else
        {
            <span>No instructors assigned</span>
        }
    </dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>